@page
@model IndexModel
@{
    ViewData["Title"] = " i20CC ☻";
}

<div class="text-center">
    <h5 class="display-4">MODULO FINANCIERO i20CC ☺</h5>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
