@page
@model IndexModel
@{
    ViewData["Title"] = " Corp. i20";
}

<div class="text-center">
    <h4 class="display-4">Corp.Financiero i20</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
